
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: black;
}

.Block-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(44, 145, 233);
    width: 250px;
    height: 400px;
    padding: 15px;
    border-radius: 30px;
    gap: 10px;
}

.banner {
    background-image: url("./imgs/design-de-grade-arte-digital-colorida-com-cores-vibrantes-formas-geometricas-e-padroes-abstratos_1238807-2100.avif");
    background-position: center;
    background-size: cover;
    height: 40%;
    border-radius: 30px;
    width: 100%;
}

.conteudo {
    background-color: rgb(255, 255, 255);
    height: 55%;
    width: 100%;
    border-radius: 20px;
}