body {
    font-family:sans-serif;
}

.Container-1 {
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.block-1 {
    background-color: rgba(200, 199, 213, 0.868);
    border-radius: 20px;
    width: 340px;
    height: 470px;
    display: flex;
    padding: 14px;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;

    
}

.block-1:hover {
     transform: scale(1.1);
}

.Banner {
    background: linear-gradient(rgba(13, 36, 185, 0.781), rgba(28, 153, 191, 0.742), rgba(13, 36, 185, 0.781));
    height: 30%;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(133, 132, 132, 0.5);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    h1 {
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
    color: white;

    }

}

.Cont {
    background-color: white;
    border-radius: 20px;
    height:40% ;
    display: flex;
    box-shadow: 0 0 10px 5px rgba(133, 132, 132, 0.5);
}

.img-perfil-div {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
}
.img-perfil {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

    .alinhamento {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 20px;
            font-weight: 200;
        }
    }

    .Know {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: solid 1px;
        border-radius: 20px;
        width: 90%;
        height: 300px;
        background: linear-gradient(rgba(0, 55, 149, 0.781), rgb(9, 0, 94));
        color: white;
        font-size: 15px;
    }

    .name {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

   

