
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-image: url("./imgs/pexels-buxteh-30221614.jpg");
    background-position: center;
    background-size: cover;
}

.Block-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(rgba(0, 0, 0, 0.705), rgba(238, 238, 238, 0.473));
    width: 280px;
    height: 400px;
    padding: 15px;
    gap: 15px;
    border: solid 4px;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0.452);
}



.banner {
    background-position: center;
    background-size: cover;
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.514);    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.banner-1 {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;

    img {
        height: 90px;
        width: 90px;
        border-radius: 100%;
        margin-top: 5px;
    }

    .name {
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: aqua;
        width: 50%;
        height: 30px;
        border-radius: 30px;
        transition: 2s all;
        cursor: pointer;
        padding: 5px;
        h2 {
            font-size: 15px;
            font-weight: 200;
            font-style: normal;
        }
    }

    .name:hover {
        transform: scale(1.1);
        background: linear-gradient(rgb(0, 217, 255), rgb(1, 174, 255));
    }
    
}
.banner-2 {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    img {
        height: 100px;
        transition: 1s all;
    }

    img:hover {
        transform: scale(1.1);
    }

    .stacks {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.conteudo {
    height: 65%;
    width: 100%;
    border-radius: 20px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.514);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.185);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
}
